<div class="content-head">
  <span>详情</span>
  <i class="pull-right fa fa-remove fa-2x m-r-sm m-t-xs"
     style="cursor: pointer"
     ng-click="detailVm.cancel()">
  </i>
</div>
<form class="w-content-main h-detail-form clearfix"
      name="suggestDetailForm"
      novalidate>
  <div class="main-info">
    <div class="row m-b-sm">
      <span class="title">刘雯</span>
      <span class="phone">15757118202</span>
    </div>
    <div class="row m-b-sm">
      <div class="address">梦想小镇天使村10幢3单元0302室</div>
    </div>
  </div>
  <div class="other-info">
    <div class="row m-b-xs">
      <span class="title">住户身份:</span>
      <span class="value">户主</span>
    </div>
    <div class="row m-b-xs">
      <span class="title">发送日期:</span>
      <span class="value">2016-11-11</span>
    </div>
    <div class="row m-b-xs">
      <span class="title" style="display: inline-block">具体内容:</span>
      <div class="value" style="display: inline-block;margin-left: 85px;margin-right: 0;position: relative;top: -20px">所谓文字，是承载语言的图像与/或符号。词语释义含义：1、文字和语言等其他工具一样，都是交流信息的工具。基本解释(1) 交流信息的工具。如汉字、拉丁字母。秦始皇统一中国后，在“琅琊山刻石”中才第一次把文字叫做字 仓颉之初作书，盖依类象形，故谓之文，其后形声相益,即谓之字。文者物象之本,字者。</div>
    </div>
  </div>
</form>