<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <title>Weker区域管理平台</title>
  <link rel="shortcut icon" href="/images/logo3.png"/>
  <link rel="stylesheet" href="css/weker-app.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap-nav-tree/dist/abn_tree.css">
  <link rel="stylesheet" href="bower_components/ng-sweet-alert/sweetalert.css">
  <link rel="stylesheet" href="css/common.css">
</head>
<body ng-controller="mainCtl as mainVm">
<div ng-if="mainVm.isLogin">
  <header id="header"
          ng-include=" 'views/main/banner.html' "
          class="app-header box-shadow navbar bg-banner"
          role="menu"
  ></header>
  <aside id="aside"
         class="app-aside hidden-xs bg-dark lt"
         ng-include="'views/main/aside.html'"
  ></aside>
  <div class="app app-header-fixed fad"
       ui-view
  ></div>
</div>
<div ng-if="!mainVm.isLogin" style="height: 100%">
  <div ui-view style="height: 100%;"></div>
</div>
<script src="ng/lib/jqLib.js"></script>
<script src="ng/lib/ngLib.js"></script>
<script src="ng/lib/ngBootstrap.js"></script>
<script src="ng/lib/ngStrap.js"></script>
<script src="ng/lib/abn_tree_directive.js"></script>
<script src="ng/lib/select2.js"></script>

<!--<script src="ng/lib/allCSD.js"></script>-->
<script src="ng/app.js"></script>
<script src="ng/directive/myPagination.js"></script>
<script src="ng/directive/myCascade.js"></script>
<script src="ng/directive/myFilterButton.js"></script>
<script src="ng/directive/mySelect.js"></script>
<script src="ng/router/index.js"></script>
<script src="ng/controller/main.ctl.js"></script>
<script src="ng/service/main.srv.js"></script>
<script src="ng/controller/home.ctl.js"></script>
<script src="ng/controller/village.ctl.js"></script>
<script src="ng/controller/entrance.ctl.js"></script>
<script src="ng/controller/device.ctl.js"></script>
<script src="ng/controller/log.ctl.js"></script>
<script src="ng/controller/suggest.ctl.js"></script>
<script src="ng/service/village.srv.js"></script>
<script src="ng/service/door.srv.js"></script>
<script src="ng/service/device.srv.js"></script>
<script src="ng/service/log.srv.js"></script>
<script src="ng/service/home.srv.js"></script>
<script src="ng/service/http.srv.js"></script>
</body>
</html>