<div class="content-head">
  <span>详情</span>
  <i class="pull-right fa fa-remove fa-2x m-r-sm m-t-xs"
     style="cursor: pointer"
     ng-click="cDetailVm.cancel()">
  </i>
</div>

<form class="w-content-main c-detail-form clearfix"
      name="commonDetailForm"
      novalidate>
  <div class="wrap-box m-b-md clearfix" ng-repeat="item in cDetailVm.detailList.partitions">
    <div class="left">
      {{item.name}}
    </div>
    <div class="right">
      <ul class="list">
        <li>
          <span class="title">围墙机:</span>
          <span class="m-r-sm" ng-repeat="item_f in item.fenceLocations">{{item_f.location}}</span>
        </li>
        <li ng-repeat="item_b in item.blockDevices">
          <span class="title">{{item_b.name}}:</span>
          <span class="m-r-sm" ng-repeat="item_u in item.blockDevices[$index].units">{{item_u.name}}</span>
        </li>
      </ul>
    </div>
  </div>
</form>
