<div class="content-head">
  <span>详情</span>
  <i class="pull-right fa fa-remove fa-2x m-r-sm m-t-xs"
     style="cursor: pointer"
     ng-click="cDetailVm.cancel()">
  </i>
</div>

<form class="w-content-main c-detail-form clearfix"
      name="commonDetailForm"
      novalidate>
  <div class="wrap-box clearfix">
    <div class="left">
      梦想小镇天使村
    </div>
    <div class="right">
      <ul class="list">
        <li>
          <span class="title">围墙机</span>
          <span>南大门、北大门、西大门</span>
        </li>
        <li>
          <span class="title">1幢</span>
          <span>1单元、2单元</span>
        </li>
        <li>
          <span class="title">2幢</span>
          <span>1单元</span>
        </li>
        <li>
          <span class="title">3幢</span>
          <span>1单元、2单元</span>
        </li>
      </ul>
    </div>
  </div>
</form>
<style>

</style>