<div class="content-head">
  <span>详情</span>
  <i class="pull-right fa fa-remove fa-2x m-r-sm m-t-xs"
     style="cursor: pointer"
     ng-click="hDetailVm.cancel()">
  </i>
</div>

<form class="w-content-main h-detail-form clearfix"
      name="householdDetailForm"
      novalidate>
  <div class="main-info">
    <div class="row m-b-sm">
      <span class="title">{{hDetailVm.model.name}}</span>
      <span class="phone">{{hDetailVm.model.mobile}}</span>
      <span class="state badge" ng-class="{'bg-success': hDetailVm.model.status == 0, 'bg-danger': hDetailVm.model.status == 1}">{{hDetailVm.model.status_cn}}</span>
    </div>
    <div class="row m-b-sm">
      <span class="address">{{hDetailVm.model.partitionName}}-{{hDetailVm.model.blockName}}-{{hDetailVm.model.unitName}}-{{hDetailVm.model.roomNo}}</span>
    </div>
  </div>
  <div class="other-info">
    <div class="row m-b-xs">
      <span class="title">住户身份:</span>
      <span class="value">{{hDetailVm.model.userType_cn}}</span>
    </div>
    <div class="row m-b-xs">
      <span class="title">身份证号:</span>
      <span class="value">{{hDetailVm.model.idCard}}</span>
    </div>
    <div class="row m-b-xs">
      <span class="title">有效期限:</span>
      <span ng-if="hDetailVm.model.effectiveType == 0" class="value">永久</span>
      <span ng-if="hDetailVm.model.effectiveType != 0 &&
                   hDetailVm.model.effectiveType != null" class="value">
        {{hDetailVm.model.effectiveStartTime | date: 'yyyy-MM-dd'}} 至 {{hDetailVm.model.effectiveEndTime | date: 'yyyy-MM-dd'}}
      </span>
      <span ng-if="hDetailVm.model.effectiveType == null" class="value">无门禁</span>
    </div>
    <div class="row m-b-xs">
      <span class="title">卡类型:</span>
      <span class="value">{{hDetailVm.model.name}}</span>
    </div>
    <div class="row m-b-sm" ng-if="!hDetailVm.model.cardTypeNameArr">
      <span class="title">卡号:</span>
      <span class="value"></span>
    </div>
    <div class="row m-b-sm" ng-if="hDetailVm.model.cardTypeNameArr" ng-repeat="item in hDetailVm.model.cardTypeNameArr">
      <div class="pull-left" ng-repeat="item_c in item">
        <span class="title">卡号:</span>
        <span class="value">{{item_c}}</span>
      </div>
    </div>
  </div>
</form>

<style>

</style>